/*
    site colors
        background: #121517
        text:       #fafaff
        accent:     #xxxxxx
*/

body {
    background-color: #121517;
    color: #fafaff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

